# Database Configuration
DB_HOST=mysql_db
DB_PORT=3306
DB_NAME=secret_share_db
DB_USER=root
DB_PASSWORD=pass

# Google Authentication
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Backend Environment
ASPNETCORE_ENVIRONMENT=Development

# Frontend URL
FRONTEND_URL=http://localhost:3005
COOKIE_DOMAIN=

# Max Secret Size
MAX_SECRET_SIZE_BYTES=15728640
